<div class="page-header">
  {{# if name}} <h4>{{name}}</h4><br/><a href="/forget">forget me</a> {{ else }} <a href="/remember">remember me</a> {{/if}}
  <h1>My Website</h1>
  <h2>welcome</h2>
</div>
<p>welcome to my website! this is my new website with node.js serverside script! if you want my site to remember that you've came
 here before, you can click on the remember me button at the top of this page! you can also visit the <a href="/readfile">public text pages</a>, where you can create a page of random(or not random) text!</p>
